#customers {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

#customers td,
#customers th {
    border: 1px solid #ddd;
    padding: 8px;
}

#customers tr:nth-child(even) {
    background-color: #f2f2f2;
}

#customers tr:hover {
    background-color: #ddd;
}

#customers th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #04AA6D;
    color: white;
}

.btn-edit {
    width: 50px;
    outline: none;
    border: none;
    background: transparent;
    color: orange;

    &:hover {
        background-color: transparent !important;
        color: orange !important;
    }
}

.btn-delete {
    width: 50px;
    outline: none;
    border: none;
    background: transparent;
    color: red;

    &:hover {
        background-color: transparent !important;
        color: red !important;
    }
}

.modal-user {
    .modal-user-body {
        display: flex;
        gap: 10px;
        flex-wrap: wrap;

        .input-container {
            display: flex;
            flex-direction: column;
            width: 45%;

            // &: same hierarchy
            &.max-width-input {
                width: 100%;
            }

            input {
                border: 1px solid grey;
                border-radius: 3px;
                outline: none;
                height: 30px;
                padding: 10px;
            }
        }
    }


}