.login-background {
    height: 100vh;
    background-image: linear-gradient(to right, rgb(0, 94, 255), yellow);

    .login-container {
        width: 300px;
        height: 400px;
        margin: auto;
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        border-radius: 10px;
        background-color: #fff;

        .login-content {
            padding: 10px;

            .login-text {
                text-align: center;
                font-size: 24px;
                padding-top: 10px;
            }

            .login-input {
                margin-top: 7px;

                .custom-input-password {
                    position: relative;

                    i {
                        position: absolute;
                        right: 5px;
                        top: 10px;
                        cursor: pointer;
                    }
                }
            }



            .btn-login {
                background-image: linear-gradient(to right, #2b5876 0%, #4e4376 51%, #2b5876 100%);
                height: 30px;
                width: 100%;
                margin-top: 10px;
                text-align: center;
                transition: 0.5s;
                color: white;
                box-shadow: 0 0 20px #eee;
                border-radius: 20px;
            }

            .btn-login:hover {
                background-position: right center;
                /* change the direction of the change here */
                color: #cbafaf;
                text-decoration: none;
            }

            .forgot-password {
                font-size: 12px;
                font-style: italic;
            }

            .social-login {
                display: flex;
                justify-content: center;

                .google {
                    font-size: 30px;
                    background-color: #cf2d4e;
                    align-items: center;
                    justify-content: center;
                    display: flex;
                    border-radius: 50%;
                    width: 50px;
                    height: 50px;
                    color: #fff;
                    margin-right: 10px;
                }

                .facebook {
                    font-size: 30px;
                    background-color: #192082;
                    align-items: center;
                    justify-content: center;
                    display: flex;
                    border-radius: 50%;
                    width: 50px;
                    height: 50px;
                    color: #fff;
                }
            }

        }
    }
}